<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center text-primary">Comment Details</h2>
      <hr />

      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Text:</th>
            <td><%= @comment.text %></td>
          </tr>
          <tr>
            <th>User:</th>
            <td><%= @comment.user_id %></td>
          </tr>
          <tr>
            <th>Post:</th>
            <td><%= @comment.post_id %></td>
          </tr>
        </tbody>
      </table>

      <hr />

      <!-- Action Buttons -->
      <div class="d-flex justify-content-between">
        <%= link_to 'Edit this comment', edit_comment_path(@comment), class: 'btn btn-outline-primary' %>
        <%= link_to 'Back to comments', comments_path, class: 'btn btn-secondary' %>
        <%= link_to 'Destroy this comment', @comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
